:root {
  --color-white: #FFFFFF;
  --color-red: #900505;
  --color-blue: #01012D;
}

/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid white; */
}

.custom-cursor .circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}


body {
  background-image: linear-gradient(to right, var(--color-red), var(--color-blue));
  overflow-x: hidden;
}
::placeholder {
  color: white;
}


.btn-main {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 10px;
  padding: 10px 60px;
  text-decoration: none;
}

.btn-custom {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
}


.bg-custom {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.btn-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 100%;
  text-decoration: none;
}


aside .sidebar .list-group .list-item:hover{
  background: rgba(255, 255, 255, 0.15); border-radius: 10px; backdrop-filter: blur(20px);
}

.side-active {
  background: rgba(255, 255, 255, 0.15); border-radius: 10px; backdrop-filter: blur(20px);
}


.input-group-custom input::placeholder {
  color: var(--color-white); 
}
.input-group-custom textarea::placeholder {
  color: var(--color-white); 
}


.icon-toggle.dropdown-toggle:empty::before {
  margin-left: 0;
  display: none;

}

.icon-toggle.dropdown-toggle:hover {
  cursor: pointer;
}

.btn-action-custom {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  width: 40px;
  height: 40px;
  font-size: 18pt;
  border-radius: 100%;
  display: inline-block;
  border: none;
}


nav {
  display: flex;
  justify-content: end;
}

nav #logo-mobile, 
nav #icon-hamburger{
  display: none;;
}

/* nav #icon-humburger {
  display: none;
} */

#elearning-module hr {
  width: 40%;
}
#user-profile .col .row .col-md-3 .rounded-2,
#my-profile .col .row .col-md-3 .rounded-2 {
  width: 250px;
  height: 250px;
}
#my-profile .row .col .position-absolute {
  right: 20px;
}


@media (max-width: 768px) {

  body > * {
    overflow: hidden;
  }

  main{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav #logo-mobile,
  nav #icon-hamburger{
    display: block;;
  }
  nav .name-user {
    display: none;
  }

  aside {
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 99999;
  }

  aside #logo-sidebar img {
    width: 130px;
  }

  #elearning-module header h5,
  #elearning-task header h5{
    font-size: 12pt;
    margin-bottom: 30px;
  }
  
  #elearning-module hr {
    width: 30%;
  }
  
  #user-profile .col .row .col-md-3 .rounded-2,
  #my-profile .col .row .col-md-3 .rounded-2 {
    width: 100%;
    height: 350px;
  }



  #my-profile .row .col .position-absolute {
    top: 30px;
    right: 30px;
  }

  #my-profile .row .col .position-absolute a iconify-icon{
    color: black;
  }
  #my-profile #my-data {
    margin-bottom: 50px;
  }

}