:root {
  --color-white: #FFFFFF;
  --color-red: #900505;
  --color-blue: #01012D;
}

/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid white; */
}

.custom-cursor .circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}


body {
  background-image: linear-gradient(to right, var(--color-red), var(--color-blue));
  overflow-x: hidden;
  position: relative;
}

.btn-main {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 10px;
  padding: 10px 60px;
  text-decoration: none;
}

.btn-custom {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 10px;
  padding: 10px 30px;
  text-decoration: none;
}

::placeholder {
  color: white;
}


aside .sidebar .list-group .list-item:hover{
  background: rgba(255, 255, 255, 0.15); border-radius: 10px; backdrop-filter: blur(20px);
}

.side-active {
  background: rgba(255, 255, 255, 0.15); border-radius: 10px; backdrop-filter: blur(20px);
}


.input-group-custom input::placeholder {
  color: var(--color-white); 
}
.input-group-custom textarea::placeholder {
  color: var(--color-white); 
}


.icon-toggle.dropdown-toggle:empty::before {
  margin-left: 0;
  display: none;

}

.icon-toggle.dropdown-toggle:hover {
  cursor: pointer;
}

.btn-action-custom {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  width: 40px;
  height: 40px;
  font-size: 18pt;
  border-radius: 100%;
  display: inline-block;
  border: none;
}