:root {
  --color-white: #FFFFFF;
  --color-red: #900505;
  --color-blue: #01012D;
}

/* Utilities */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid white; */
}

.custom-cursor .circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

nav .navbar-toggler-icon {
  color: white;
}


body {
  background-image: linear-gradient(to right, var(--color-red), var(--color-blue));
  overflow-x: hidden;
  width: 100vw;
}

.btn-main {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 10px;
  padding: 10px 60px;
  text-decoration: none;
}


.btn-second {
  color: var(--color-white);
  border-radius: 10px;
  border: 1px white solid;
  padding: 10px 60px;
  text-decoration: none;
}


#hero-section h1 {
  font-size: 50px;
  word-wrap: break-word
}


#about-section {
  margin: 300px auto;
}

#division-section .row {
  margin-top: 80px;
}


#gallery-section {
  margin: 300px auto;
}

#gallery-section .row {
  margin-top: 80px;
}

#news-section .news-content {
  margin-top: 80px;
}


#partner-section {
  margin: 200px auto;
}


footer {
  background: rgba(255, 255, 255, 0.13);
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

#about-section .row .col-lg-6 .w-full {
  padding: 50px;
}


nav .navbar-nav .nav-link:hover {
  border-bottom: 2px solid white;
}

.btn-main:hover {
  background: none;
  border: 1px solid white;
}

.btn-second:hover {
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 200px );
  -webkit-backdrop-filter: blur( 200px );
  border-radius: 10px;
  padding: 10px 60px;
  text-decoration: none;
  border: none;
}




.Ellipse5 {
  width: 660px;
  height: 660px;
  background: linear-gradient(216deg, #740200 0%, #01012D 100%);
  box-shadow: 10px 2px 50px rgba(255, 255, 255, 0.09);
  border-radius: 9999px;
  left: -400px;
  bottom: -200px;
  z-index: -99;
}

/* 
.Ellipse3 {
  width: 477px;
  height: 477px;
  background: rgba(255, 0, 153, 0.48);
  box-shadow: 400px 400px 400px;
  border-radius: 9999px;
  filter: blur(100px);
  z-index: -99; top: -150px;
}

.Ellipse1 {
  width: 100%;
  height: 100%;
  background: rgba(0, 207.93, 221.20, 0.23);
  box-shadow: 400px 400px 400px;
  border-radius: 9999px;
  filter: blur(100px);
  z-index: -99;
  right: -350px;
  bottom: -500px;
}

.Ellipse4{
  width: 340px;
  height: 340px;
  background: linear-gradient(216deg, #740200 0%, #01012D 100%);
  box-shadow: 10px 2px 50px rgba(255, 255, 255, 0.09);
  border-radius: 9999px;
  z-index: -999;
  left: 450px;
  top: -150px;
} */




@media (max-width: 768px) {
  /* Gaya CSS untuk layar berukuran kecil */

  body > *{
    overflow-x: hidden;
  }

  .btn-main {
    color: var(--color-white);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 200px );
    -webkit-backdrop-filter: blur( 200px );
    border-radius: 10px;
    padding: 10px 40px;
    text-decoration: none;
  }
  
.btn-second {
  color: var(--color-white);
  border-radius: 10px;
  border: 1px white solid;
  padding: 10px 40px;
  text-decoration: none;
}

  #hero-section h1 {
    font-size: 25pt;
    text-align: center;
  }

  #hero-section p {
    font-size: 10pt;
    text-align: center;
  }

  #hero-section .col-lg-6:nth-child(1) {
    order: 2;
  }
  #hero-section .col-lg-6:nth-child(2) {
    order: 1;
  }

  #hero-section .btn-group {
    display: flex;
    justify-content: center;
  }


  #about-section .row .col-lg-6:nth-child(1) {
    margin-bottom: 50px;
  }

  #about-section .row .col-lg-6:nth-child(1) img {
    display: none;
  }

  #about-section .row .col-lg-6 .w-full {
    padding: 20px;
  }

  footer .col-md-3:nth-child(1)  {
    display: flex;
    justify-content: center;
  }

  footer .col-md-3:nth-child(2),footer .col-md-3:nth-child(3),footer .col-md-3:nth-child(4)  {
    margin-top: 50px;
  }



  .Ellipse5 {
    width: 500px;
    height: 500px;
    left: -300px;
  }

  .Ellipse3 {
    width: 300px;
    height: 300px;
    background: rgba(255, 0, 153, 0.48);
    z-index: -99;
    top: -150px;
  }


  
  .Ellipse1 {
    width: 300px;
    height: 300px;
    right: 0px;
    bottom: -500px;
  }

  .Ellipse4{
    width: 340px;
    height: 340px;
    right: 0px;
    top: -150px;
  }

}